<%# This form is only used when creating a new Saying or
  # editing an existing Saying.
-%>
<%= form_with(model: saying, local: true) do |form| %>
  <% if saying.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saying.errors.count, "error") %> prohibited this saying from being saved:</h2>

      <ul>
      <% saying.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :sayer_id %>
    <% all_sayer_options = options_from_collection_for_select(all_sayers, :id, :name, saying.sayer_id) %>
    <%= select(:saying, :sayer_id, all_sayer_options, {include_blank: true}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
